*{
box-sizing:border-box;
}


body{

margin:0;
font-family:Segoe UI,Arial;
background:#0f172a;
color:white;

}


header{

text-align:center;
padding:40px;

background:#111827;

}


.dashboard{

width:90%;
margin:auto;

display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:25px;

}



.card{

background:#1e293b;

padding:25px;

border-radius:15px;

box-shadow:0 10px 25px #0005;


}



textarea{

width:100%;
height:120px;

background:#020617;

border:1px solid #475569;

color:white;

padding:15px;

border-radius:10px;


}



input{

width:100%;
margin:15px 0;

}



button{

background:#2563eb;

border:none;

color:white;

padding:12px 20px;

border-radius:8px;

cursor:pointer;

margin:5px;

}



button:hover{

background:#1d4ed8;

}



.control{

text-align:center;

margin:15px;

}


#shift{

font-size:20px;

margin:15px;

}