/* css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
  font-family:'Orbitron', sans-serif;

  background:
  radial-gradient(circle at center,
  #07111f 0%,
  #02070d 40%,
  #000 100%);
}

/* PAGE */

.level-page{
  width:100vw;
  height:100vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* TITLE */

.level-title{
  color:white;
  font-size:60px;

  margin-bottom:60px;

  letter-spacing:6px;

  text-shadow:
  0 0 10px cyan,
  0 0 30px cyan;
}

/* CONTAINER */

.levels-container{
  display:flex;
  gap:30px;
  flex-wrap:wrap;

  justify-content:center;
}

/* LEVEL CARD */

.level-card{
  width:220px;
  height:200px;

  border-radius:20px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  cursor:pointer;

  position:relative;

  transition:0.3s;
}

/* UNLOCKED */

.unlocked{
  background:#07111f;

  border:2px solid cyan;

  color:white;

  box-shadow:
  0 0 20px cyan;
}

.unlocked:hover{
  transform:translateY(-10px);

  box-shadow:
  0 0 30px cyan,
  0 0 60px cyan;
}

/* LOCKED */

.locked{
  background:#111;

  border:2px solid #555;

  color:#777;

  cursor:not-allowed;
}

/* LOCK */

.lock{
  position:absolute;

  top:20px;
  right:20px;

  font-size:28px;
}

/* TEXT */

.level-card h2{
  margin-bottom:15px;

  font-size:30px;
}

.level-card p{
  font-size:14px;
  letter-spacing:2px;
}

/* BACK BUTTON */

.back-btn{
  margin-top:60px;

  padding:16px 40px;

  border:none;

  background:cyan;

  color:black;

  font-size:18px;
  font-weight:bold;

  border-radius:12px;

  cursor:pointer;

  transition:0.3s;

  font-family:'Orbitron', sans-serif;
}

.back-btn:hover{
  transform:scale(1.1);

  box-shadow:
  0 0 20px cyan,
  0 0 40px cyan;
}